@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard {
  max-width: 1085px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
  background-color: #ddd;
}

button {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  grid-column: span 2;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  transform: translateY(2px);
}

.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;
  font-size: 14px;
}

.space {
  grid-column: span 13;
}
