@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard {
  grid-template-columns: repeat(30, 23px);
  grid-template-rows: 40px 50px 50px 50px 50px 50px;
}

.keyboard button {
  background-color: rgb(248 250 252);
  border: 1px solid rgb(203 213 225);
  box-shadow: 0 2px rgb(203 213 225);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.keyboard button:focus-visible {
  background-color: rgba(0, 102, 255, 0.1);
}

.keyboard button:hover {
  background-color: rgb(241 245 249);
  border: 1px solid rgb(148 163 184);
  box-shadow: 0 2px rgb(148 163 184);
}

.keyboard button:active {
  background-color: rgb(226 232 240);
  border: 1px solid rgb(148 163 184);
  box-shadow: none;
  transform: translateY(2px);
}
